[submodule "public"]
	path = public
	url = git@github.com:LoveOrange/LoveOrange.github.io.git
	branch = master
[submodule "anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
