[submodule "themes/imperfect"]
	path = themes/imperfect
	url = https://github.com/jpescador/hugo-future-imperfect.git
[submodule "public"]
	path = public
	url = git@github.com:LoveOrange/LoveOrange.github.io.git
	branch = master
